body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

.main {
    color: #faf;

    .point {
        color: #faf;
    }
}

.mainBackground {
    background-color: #e7e7e7;
}
